name: audit

on: [push, pull_request]

jobs:
  lint:
    if: >
      github.event_name == 'push' ||
      github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.14"
      - name: pip install deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install pandas polars pyyaml
          python -m pip install autoflake black isort pyright
          python -m pip install mypy types-pyyaml pandas-stubs
      - name: autoflake
        run: autoflake --remove-all-unused-imports --remove-unused-variables --check-diff --quiet -r .
      - name: isort
        run: isort --check --diff -q .
      - name: black
        run: black --check -l 108 .
      - name: pyright
        run: pyright .
      - name: mypy
        run: mypy .
